.venv/
image.jpg
app.py
Pokemon.csv
edited_pokemons.csv
ghost_pokemons.csv
legendary_pokemons.csv
mega_pokemons.html
text.txt
__pycache__/app.cpython-312.pyc
__pycache__/numpy.cpython-312.pyc
templates/hello.html
